<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Yahoo pipeline on Angular JS</title>

    <!-- Style sheets -->
    <link href="css/bootstrap.css" rel="stylesheet"/>
    <link href="css/app.css" rel="stylesheet"/>

    <!-- Library Scripts -->
    <script src="js/angular.js"></script>

    <!-- Application Script -->
    <script src="app/app.js"></script>

    <!-- Product Controllers -->
    <script src="app/services/newsService.js"></script>
    <script src="app/controllers/newsController.js"></script>
</head>

<body ng-app="news">
    <div class="table" ng-controller="NewsCtrl as vm">
        <div ng-repeat="newsItem in vm.news">
            <div id="img" ng-click="newsItem.show = !newsItem.show">
                <img height="50" id="image" ng-src="{{newsItem.enclosure.url}}" width="50">
            </div>
            <div id="title">
                {{newsItem.title}}
            </div>
            <div id="summary" ng-show="newsItem.show">
                {{newsItem.description}}
            </div>
            <div id="lnk" ng-show="newsItem.show">
                <a ng-href="{{newsItem.link}}" id="article-link">-&gt;</a>
            </div>
        </div>

        <h1 class="well text-center" ng-if="vm.errors.length" ng-repeat="error in vm.errors">
            {{error}}
        </h1>
    </div>
</body>
</html>
