<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Acme Product Management</title>

    <!-- Style sheets -->
    <link href="css/bootstrap.css" rel="stylesheet"/>
    <link href="css/app.css" rel="stylesheet"/>

    <!-- Library Scripts -->
    <script type="text/javascript" src="js/jquery-1.4.4.js"></script>
    <script type="text/javascript" src="js/jquery.tmpl.js"></script>
    <script src="js/angular.js"></script>

    <!-- Application Script -->
    <script src="app/app.js"></script>
    <script src="app/common.js"></script>

    <!-- Product Controllers -->
    <script src="app/serv/serv.js"></script>
    <script src="app/controllers/newsCtrl2.js"></script>
</head>

<body ng-app="news">

    <div class="table" ng-controller="NewsCtrl2 as vm">
        <div ng-repeat="new in vm.news.value.items">
            <div id="img" ng-click="vm.toggleDescription(new)">
                <img height="50" id="image" ng-src="{{new.enclosure.url}}" width="50">
            </div>
            <div id="title">
                {{new.title}}
            </div>
            <div id="summary" class="toggling" ng-show="new.show">
                {{new.description}}
            </div>
            <div id="lnk" class="toggling" ng-show="new.show">
                <a ng-href="{{new.link}}" id="article-link">-&gt;</a>
            </div>
        </div>

        <h1 class="well text-center" ng-if="vm.errors.length" ng-repeat="error in vm.errors">
            {{error}}
        </h1>

    </div>
</body>
</html>